.navbarStyle{
  height: 90px;
  background-color: lightgray !important;
}
.headerStyle{
  height: 100px;
  background-color: rgb(63,81,181);
}
.baseColor{
  background-color: rgb(63,81,181);
}
.btnCustom{
  width: 100%;
}
.md-datepicker-input-container{
  width: 200px !important;
}
.av{
  border-radius: 2px;
  color: green;
}
.pv{
  border-radius: 2px;
  color: orange;
}
.nv{
  border-radius: 2px;
  color: red;
}
