<section layout="row" flex>
  <div flex="20">
    <md-sidenav flex
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="estabelecimentoCtrl.toggle"
    md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <div class="md-toolbar-tools">
       <h1 class="md-toolbar-tools">Bem vindo, Estab</h1>
       <md-button class="md-icon-button" aria-label="More" ng-click="estabelecimentoCtrl.toggleSideNav()">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-menu>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button  class="md-primary col-xs-11" aria-label="true" >
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Verificar Matrícula</i>
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button class="md-primary col-xs-11" aria-label="true">
          <i class="fa fa-sign-out" aria-hidden="true"> Sair</i>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-sidenav>
<md-button class="md-fab md-raised" aria-label="true" ng-show="!estabelecimentoCtrl.toggle" ng-click="estabelecimentoCtrl.toggleSideNav()" >
  <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
</md-button>
</div>



  <!-- <div class="col-sm-3" style="padding : 0px">
    <md-toolbar>
      <md-card >
       <md-card-title >
         <md-card-title-text>
           <span class="md-headline">Bem Vindo!</span>
           <span class="md-subhead">Estabelecimento logado</span>
         </md-card-title-text>
         <md-card-title-media>
           <div class="md-media-sm card-media">
             <img ng-src="img/teste.jpg" width="50px" height="50px" alt="">
           </div>
         </md-card-title-media>
       </md-card-title>
     </md-card>
   </md-toolbar>
   <md-content layout-padding class="text-center" >
    <md-button  class="md-primary col-xs-11" aria-label="true" >
      <i class="fa fa-pencil-square-o" aria-hidden="true">Verificar Matrícula</i>
    </md-button>
    <a ui-sref="login"><md-button class="md-primary col-xs-11" aria-label="true">
      <i class="fa fa-sign-out" aria-hidden="true"> Sair</i>
    </md-button></a>
  </md-content>
</div> -->

<div flex="80" style="padding: 30px">
  <form name="formConsulta" novalidate>
    <md-input-container class="col-xs-offset-3 col-xs-4">
      <label>Consulte pelo CPF</label>
      <input type="text" ng-model="estabelecimentoCtrl.consultaCpf" ui-br-cpf-mask ng-keypress="($event.keyCode === 13 && !formConsulta.$invalid) && estabelecimentoCtrl.consultar() ">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="estabelecimentoCtrl.consultar()"
    ng-disabled="estabelecimentoCtrl.consultaCpf == '' || formConsulta.$invalid"> Verificar</md-button>
    <md-button class="md-raised md-default" ng-click="estabelecimentoCtrl.limparConsulta()"
    ng-disabled="!estabelecimentoCtrl.showResultConsulta">Limpar</md-button>
  </form> 

  <div class="col-xs-12">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" ng-show="estabelecimentoCtrl.showResultConsulta" md-theme-watch>
     <md-card-title>
       <md-card-title-text>
         <span class="md-headline">{{estabelecimentoCtrl.usuarioConsulta.nome}}</span>
         <span class="md-subhead">{{estabelecimentoCtrl.usuarioConsulta.instituicao}}</span>
         <span class="md-subhead">{{estabelecimentoCtrl.usuarioConsulta.cpf}}</span>
       </md-card-title-text>
       <md-card-title-media>
         <div class="md-media-lg card-media">
          <img ng-src="img/teste.jpg" width="150px" height="150px" alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center">
     <div ng-show="estabelecimentoCtrl.usuarioConsulta.situacaoMatricula == 1" class="alert alert-success">
       <h4>Matriculado na {{estabelecimentoCtrl.usuarioConsulta.instituicao}}</h4>
     </div>
     <div ng-show="estabelecimentoCtrl.usuarioConsulta.situacaoMatricula == 0" class="alert alert-warning">
       <h4>Matricula Trancada na {{estabelecimentoCtrl.usuarioConsulta.instituicao}} </h4>
     </div>
     <div ng-show="estabelecimentoCtrl.usuarioConsulta.situacaoMatricula == 2" class="alert alert-danger">
       <h4>Nenhum vínculo com as instuições cadastradas </h4>
     </div>
   </md-card-actions>
 </md-card>
</div>
</div>

</section>
