<section flex="30">
    <md-sidenav flex="30" class="md-sidenav-left hidden-xs" md-component-id="left" md-is-locked-open="estabelecimentoCtrl.toggle" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <h3 class="md-toolbar-tools">Bem vindo, {{estabelecimentoCtrl.usuarioLogado}} </h3>
                <md-button class="md-icon-button" aria-label="More" ng-click="estabelecimentoCtrl.toggleSideNav()">
                    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-menu-item>
                <md-button class="md-primary" aria-label="true" ui-sref="estabelecimento.verificacaoMatricula">
                    <i class="fa fa-search" aria-hidden="true"> Verificar Matrícula</i>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button class="md-primary" aria-label="true" ui-sref="estabelecimento.statusCadastro" ng-click="estabelecimentoCtrl.getStatusCadastroInstituicao()">
                    <i class="fa fa-refresh" aria-hidden="true"> Status do Cadastro</i>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button class="md-primary" aria-label="true" ng-click="estabelecimentoCtrl.getEstabelecimento()" ui-sref="estabelecimento.gerenciamentoConta">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"> Dados da Conta</i>
                </md-button>
            </md-menu-item>
        </md-content>
        <md-toolbar>
            <md-menu-item>
                <md-button class="md-default" aria-label="true" ng-click="estabelecimentoCtrl.logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"> Sair</i>
                </md-button>
            </md-menu-item>
        </md-toolbar>
    </md-sidenav>
    <md-button class="md-fab md-raised" aria-label="true" ng-show="!estabelecimentoCtrl.toggle" ng-click="estabelecimentoCtrl.toggleSideNav()">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
    </md-button>
</section>
<ui-view></ui-view>