<md-card class="page col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="text-center">
        <h3>Cadastro de Instituições de Ensino</h3>
    </div>

    <form name="userForm" style="padding: 5px">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome da Instituição</label>
                <input ng-model="cadastroInstituicaoCtrl.novoUsuario.nome" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Endereço</label>
                <input ng-model="cadastroInstituicaoCtrl.novoUsuario.endereco" required>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome do reponsável pelo instituicao</label>
                <input ng-model="cadastroInstituicaoCtrl.novoUsuario.nomeResponsavel" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>CPF do reponsável</label>
                <input name="cel" ng-model="cadastroInstituicaoCtrl.novoUsuario.cpfResponsavel" ui-br-cpf-mask required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>E-mail</label>
                <input ng-model="cadastroInstituicaoCtrl.novoUsuario.email" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Celular / Telefone</label>
                <input name="cel" ng-model="cadastroInstituicaoCtrl.novoUsuario.telefone" ui-br-phone-number required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Nome da Classe de consulta</label>
                <input name="cel" ng-model="cadastroInstituicaoCtrl.novoUsuario.classeConsulta" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Senha</label>
                <input ng-model="cadastroInstituicaoCtrl.novoUsuario.senha" type="password" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Repita sua senha</label>
                <input ng-model="cadastroInstituicaoCtrl.novoUsuario.confirmaSenha" type="password" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-button class="md-primary md-raised" ng-disabled="userForm.$invalid" ng-click="cadastroInstituicaoCtrl.salvarNovoUsuario()">Salvar</md-button>
            <md-button class="md-warning md-raised" ui-sref="cadastroSelector">Voltar</md-button>
        </div>

    </form>
</md-card>