<div class="col-sm-offset-3 col-sm-6 col-xs-12 padded " >
  <md-card class="page" >
    <md-card-title>
      <md-card-title-text class="text-center">
        <span class="md-headline">Bem-vindo!</span>
      </md-card-title-text>
    </md-card-title>
    <form class="col-xs-12" novalidate name="formLogin" data-loading>
      <div class="form-group">
        <md-input-container class="col-xs-12">
          <label>E-mail</label>
          <input type="text" ng-model="loginCtrl.email" name="email" required>
        </md-input-container>
        <md-input-container class="col-xs-12">
          <label>Senha</label>
          <input type="password" ng-model="loginCtrl.senha" name="senha" ng-keypress="$event.keyCode === 13 && loginCtrl.login()" required>
        </md-input-container>
      </div>
      <div class="form-group col-xs-6">
        <md-button class="md-raised md-primary" ng-click="loginCtrl.login()" ng-disabled="formLogin.$invalid" > Login</md-button>
      </div>
      <div class="form-group col-xs-6 text-right">
        <md-button class="md-raised md-primary" ui-sref="cadastroSelector" title="Cadastrar" aria-label="true">
          <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></md-button>
      </div>
    </form>
  </md-card>
</div>
