<md-sidenav style="height : 100%"
        class="md-sidenav-left "
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')">
      <md-toolbar>
        <md-card >
         <md-card-title >
           <md-card-title-text>
             <span class="md-headline">Bem Vindo!</span>
             <span class="md-subhead">Usuário logado</span>
           </md-card-title-text>
           <md-card-title-media>
             <div class="md-media-sm card-media">
               <img ng-src="img/teste.jpg" width="50px" height="50px" alt="">
             </div>
           </md-card-title-media>
         </md-card-title>
       </md-card>
      </md-toolbar>
      <md-content layout-padding class="text-center" >
        <md-button  class="md-primary col-xs-11" >
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Editar Lista</i>
        </md-button>
        <md-button  class="md-primary col-xs-11" ng-clink="cadastroAlunoCtrl.salvarNovoUsuario()">
          <i class="fa fa-pencil-square-o" aria-hidden="true"> Criar Aluno</i>
        </md-button>
        <md-button class="md-primary col-xs-11" >
        <i class="fa fa-sign-out" aria-hidden="true"> Sair</i>
        </md-button>
      </md-content>
</md-sidenav>
